@font-face {
  font-family: 'Alethia Next';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/AlethiaNext-Light.woff2') format('woff2'),
    url('/fonts/AlethiaNext-Light.woff') format('woff');
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #241043;
  color: #ffffff;
  margin: 0;
  overflow-x: hidden; /* горизонтальний скрол */
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  /* padding: 0;
  margin: 0;
  background: none;
  border: none;
  line-height: 0; */
  cursor: pointer;
}

/********** HEADER **********/

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 26.88px;
  padding-bottom: 11.65px;
  padding-left: 23px;
  padding-right: 28.29px;
}

.header-logo {
  display: flex;
  align-items: center;
  column-gap: 3.59px;
}

.header-logo-icon {
  display: block;
  flex-shrink: 0;
}

.header-logo-text {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: fff;
}

.header-logo-text-accent {
  color: rgba(255, 255, 255, 0.6);
}

.header-nav,
.header-actions {
  display: none;
}

.header-burger {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  background-color: transparent;
}

.header-burger-icon {
  display: block;
}

.header-logo-icon,
.header-burger-icon,
.header-cart,
.header-user {
  fill: #ffffff;
}

/********** MAIN **********/

.main-content {
  padding-top: 45px;
  padding-left: 30px;
}

.main-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.374;
  color: #fff;

  max-width: 291px;
  margin-bottom: 40px;
}

.main-title-accent {
  background: linear-gradient(312deg, #43a5e3 0%, #ff56f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.main-text {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #fff;

  max-width: 315px;
  margin-bottom: 40px;
}

.main-buttons {
  display: flex;
  align-items: center;
  gap: 19.69px;
}

.main-btn {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;

  display: inline-flex;
  align-items: center;
  gap: 4px;

  padding-left: 28px;
  padding-top: 9px;
  padding-right: 17.21px;
  padding-bottom: 12.21px;

  border-radius: 1px;

  border: 1px solid transparent;
  background-image: linear-gradient(
      310deg,
      #ff56f6 18.31%,
      #b936ee 43.26%,
      #3bace2 85.44%,
      #406aff 100%
    ),
    linear-gradient(130deg, #ffa6fa 47%, #3c79d4 97%);

  background-origin: border-box;
  background-clip: padding-box, border-box;

  box-shadow: 0 2px 57px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(113.25px);
  -webkit-backdrop-filter: blur(113.25px);

  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.btn-arrow-icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
}

/* .main-buttons {
  display: flex;
  align-items: center;
  gap: 19.69px;
}

.main-btn {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 14px 40px;

  border: none;
  background: none;
  cursor: pointer;
  outline: none;

  filter: drop-shadow(0 2px 57px rgba(255, 86, 246, 0.51));
}

.main-btn-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-btn-text,
.btn-arrow-icon {
  position: relative;
  z-index: 1;
}

.btn-arrow-icon {
  display: inline-block;
  fill: currentColor;
  stroke: currentColor;
} */
