@font-face {
  font-family: 'Alethia Next';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/AlethiaNext-Light.woff2') format('woff2'),
    url('/fonts/AlethiaNext-Light.woff') format('woff');
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: rgba(32, 8, 59, 0.75);
  color: #ffffff;
  margin: 0;
  overflow-x: hidden; /* горизонтальний скрол */
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  /* padding: 0;
  margin: 0;
  background: none;
  border: none;
  line-height: 0; */
  cursor: pointer;
}
